.mobile_menu
    .container
        nav.flex-column.d-flex
            a(href="https://www.oknastreet.ru/") Главная
            a(href="https://www.oknastreet.ru/o-kompanii.html") О компании
            a(href="https://www.oknastreet.ru/proizvodstvo.html") Производство
            a(href="https://www.oknastreet.ru/fotogalereya/video.html") Наши работы
            a(href="https://www.oknastreet.ru/poleznyie-stati.html") Статьи
            a(href="https://www.oknastreet.ru/akcii-skidki.html") Акции, скидки
            a(href="https://www.oknastreet.ru/kontaktyi.html") Контакты