script(src='scripts/jquery.min.js')
script(src='scripts/bootstrap.min.js')
script(src='scripts/jquery.inputmask.bundle.min.js')
script(src='scripts/owl.carousel.min.js')
script(src='scripts/scroll-lock.js')
script(src="scripts/jquery.fancybox.min.js")

script(src='scripts/countdown.js')
script(src='scripts/main.js')
